body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 214, 184);
}

p {
    text-align: center;
    padding: 1em;
    color: #450211;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

nav {
    background-color: #450211;
    padding: .5em;
    
    position: sticky;
    top: 0;
}
  
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li h2 {
    margin-left: 10px;
}

nav ul li img {
    width: 4em;
    height: 4em;
}

nav a {
    background-color: rgb(106,46,82);
    text-decoration: none;
    padding: 0.5em;
}

nav a:link {
    color: white;
}
  
nav a:visited {
    color: white;
}

nav h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.concert-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    padding: 20px;
}

.concert-info-item {
    padding: 20px;
    text-align: left;
}

.concert-info-item h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(106,46,82);
    text-align: left;
    padding-left: 0.75em;
    
}

.concert-info-item h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(106,46,82);
    text-align: left;
    padding-left: 1em;
}

.concert-info-item p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
}

@media screen and (max-width: 400px) {
    .concert-info-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

}