body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: flex;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
    order: 3;
}
#flex-child2{
    order: 4;
}
#flex-child3{
    order: 2;
}
#flex-child4{
    order: 1;
}


#grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    text-align: center;
}
#no1{
    text-align: center;
}
#no2{
    text-align: center;
}
#no3{
    text-align: center;
}
#no4{
    text-align: center;
}
#no5{
    text-align: center;
}
#no6{
    text-align: center;
}
#no7{
    text-align: center;
}
#no8{
    text-align: center;
}
#no9{
    text-align: center;
}